# Logs
logs
*.systemOperationLog
npm-debug.systemOperationLog*
yarn-debug.systemOperationLog*
yarn-error.systemOperationLog*
pnpm-debug.systemOperationLog*
lerna-debug.systemOperationLog*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
