<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/xuexitong</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">123456</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!--打印 sql 语句-->
<!--        <property name="hibernate.show_sql">true</property>-->
        <!--格式化 sql-->
<!--        <property name="hibernate.format_sql">true</property>-->
        <!-- 自动创建/更新表结构 -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- 3. 关键补充：Session上下文配置（解决Session空指针核心） -->
        <property name="hibernate.current_session_context_class">thread</property>

        <mapping class="cn.edu.zjut.backend.po.Subject"/>
        <mapping class="cn.edu.zjut.backend.po.Questions"/>
        <mapping class="cn.edu.zjut.backend.po.QuestionItems"/>
        <mapping class="cn.edu.zjut.backend.po.QuestionComponents"/>
        <mapping class="cn.edu.zjut.backend.po.ExamSetting"/>
        <mapping class="cn.edu.zjut.backend.po.Exam"/>
        <mapping class="cn.edu.zjut.backend.po.ExamNotification"/>
        <mapping class="cn.edu.zjut.backend.po.ExamRecord"/>
        <mapping class="cn.edu.zjut.backend.po.StudentGrade"/>
        <mapping class="cn.edu.zjut.backend.po.User"/>
        <mapping class="cn.edu.zjut.backend.po.QuestionTags"/>
        <mapping class="cn.edu.zjut.backend.po.ExamPaper"/>
        <mapping class="cn.edu.zjut.backend.po.ExamPaperQuestion"/>
        <mapping class="cn.edu.zjut.backend.po.TeacherPosition"/>
        <mapping class="cn.edu.zjut.backend.po.TeacherSubject"/>
        <mapping class="cn.edu.zjut.backend.po.Course"/>
        <mapping class="cn.edu.zjut.backend.po.StudentCourse"/>
        <mapping class="cn.edu.zjut.backend.po.SystemOperationLog"/>
        <mapping class="cn.edu.zjut.backend.po.SecurityEventLog"/>
        <mapping class="cn.edu.zjut.backend.po.UserLoginLog"/>
        <mapping class="cn.edu.zjut.backend.po.QuestionType"/>
        <mapping class="cn.edu.zjut.backend.po.StudentCourse"/>
        <mapping class="cn.edu.zjut.backend.po.StudentCoursePK"/>
        <mapping class="cn.edu.zjut.backend.po.ExamCourse"/>
        <mapping class="cn.edu.zjut.backend.po.ExamCoursePK"/>
        <mapping class="cn.edu.zjut.backend.po.ExamAnswer"/>
    </session-factory>
</hibernate-configuration>